@font-face {
  font-family: Josefinasans;
  src: url("../../assets/fonts/JosefinSans-VariableFont_wght.ttf");
}

.font{
  font-family: Josefinasans;
}

.FooterRow {
  background-color: #3e5c76;
  height: 10vh;
}

.FooterCol {
  color: white;
  font-size: medium;
}
