@font-face {
  font-family: Josefinasans;
  src: url("../../assets/fonts/JosefinSans-VariableFont_wght.ttf");
}

input, select, textarea, option::placeholder{ 
  font-family: Josfinasans;
}

.ContentRow {
  height: 90vh;
}

.ContentRow > * {
  padding-left: 0px;
}

.menuCol {
  background-color: rgb(62, 92, 118, 0.8);
  height: "80vh";
}

.Button {
  font-family: Josefinasans;
  border: 4px solid #457b9d;
  height: 60px;
}

.menuDiv {
  padding-left: 10px;
  padding-top: 30px;
}

.contentCol {
  position: relative;
}

.content-col-2-background {
  height: 90vh;
  width: 82.6vw;
  position: absolute;
  top: 0;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      /* Adjusted overlay opacity */ rgba(0, 0, 0, 0.6)
        /* Adjusted overlay opacity */
    ),
    url("../../assets/contentpage/2.jpg") no-repeat top;
  background-size: cover;
  z-index: -1;
}
