@font-face {
  font-family: Josefinasans;
  src: url("../../assets/fonts/JosefinSans-VariableFont_wght.ttf");
}

.font {
  font-family: Josefinasans;
}

.navItem {
  font-family: Josefinasans;
  font-weight: bold;
  font-size: 1.5rem;
  font-size: 30px;
}

.hover {
  color: black;
  transition: color 0.3s ease;
}

.hover:hover {
  color: #007bff;
  text-decoration: underline;
}

.subHeading {
  color: white;
  font-size: large;
}

.logoutbtn {
  padding: 5px 15px;
  font-size: 1rem;
}

.userName {
  padding-top: 10px;
  margin-right: 50px;
  transition: color 0.3s ease;
  color: white;
}

.userName:hover {
  color: black;
}
